#contact {
  height: fit-content;
  background-color: #131313;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
#form-section {
  width: 100%;
  display: flex;
  height: 65%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
#form-section form {
  width: 90%;
  height: 100%;
}
#form-section form input {
  width: 100%;
}
#message-input {
  height: 265px;
}
#form-section label,
input {
  display: block;
}
#form-section label {
  font-size: 30px;
  display: block;
}
#form-section input {
  font-size: 20px;
  border: white solid 1px;
  background-color: transparent;
  color: white;
}
#form-section button {
  font-size: 30px;
  border: white solid 1px;
  background-color: transparent;
  color: white;
  margin: 15px 0px 0px 0px;
}
#form-section button:hover {
  font-size: 30px;
  border: black solid 1px;
  background-color: white;
  color: black;
}
#contact-div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 70%;
}
#form-contact{
  width: 50%;
}
#resume-contact{
  width: 50%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1200px) {
  #contact-div {
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #form-contact{
    width: 100%;
  }
  #resume-contact{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  #contact {
    height: fit-content;
    background-color: #131313;
    z-index: 5;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  #form-section {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  #form-section form {
    width: 100%;
    height: 100%;
  }
  #form-section form input {
    width: 100%;
  }
  #message-input {
    height: 265px;
  }
  #form-section label,
  input {
    display: block;
  }
  #form-section label {
    font-size: 30px;
    display: block;
  }
  #form-section input {
    font-size: 20px;
    border: white solid 1px;
    background-color: transparent;
    color: white;
  }
  #form-section button {
    font-size: 30px;
    border: white solid 1px;
    background-color: transparent;
    color: white;
    margin: 15px 0px 0px 0px;
  }
  #form-section button:hover {
    font-size: 30px;
    border: black solid 1px;
    background-color: white;
    color: black;
  }
}
